.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    margin-bottom: 110px;
  }
}

.header .menu {
  @include tablets {
    display: none;
  }
}