.hero__container {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4% 0;
}

.hero__button {
  display: flex;
  justify-content: center;
}

.scroll-down-btn {
  background: none;
  color: #464E62;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.scroll__icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -36px;
  width: 14px;
  height: 14px;
  fill: #464E62;
}