.reviews {
  position: relative;
  padding: 230px 0;
  background: url("~images/bg/budda.jpg") center top / cover no-repeat;
  min-height: 1040px;

  @include desktop {
    background-position: top left 10%;
  }
}