.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #464E62;

  @include tablets {
    font-size: 30px;
    line-height: 41px;
  }

  @include phones {
    font-size: 24px;
  }
}