.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skills__item {
  margin-bottom: 54px;

  &:last-child {
    margin-bottom: 0;
  }
}

.skills-row__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #464E62;
  margin-bottom: 39px;
}

.skills-row__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4%;
}

.skills-row__item {
  margin-right: 69px;

  &:last-child {
    margin-right: 0;
  }
}