.welcome-section {
  background: url("~images/bg/hero.jpg") center top / cover no-repeat;

  @include desktop {
    background-position: top left 34%;
  }

  @include tablets {
    background-position: top left 56%;
  }
}