.skill-component {
  display: flex;
  align-items: center;
}

.skill-component .title {
  flex: 1;
  margin-right: 70px;
}

.percent {
  margin-right: 30px;
}

.btn {
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }
}
