.skill-add-line-component {
  display: flex;
  align-items: center;
}

.add-title {
  flex: 1;
}

.add-percent {
  margin: 0 29px 0 8px;
  position: relative;

  &:after {
    content: "%";
    position: absolute;
    top: 9px;
    right: 0;
  }
}

  